<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Header -->
<%- include('partials/header') %>
<body>
    <div class="contenedor-pequeno">
        <div class="fila fila7">
            <h2>Todos los productos</h2>
            <p></p>
            <p class="buttons">
                <a class="action-button" href="/products/addproduct">Agregar nuevos productos</a>
            </p>
        </div>
    </div>
    <div class="contenedor-pequeno">
    <div class="fila">  
        <% listpro.forEach(art=> { %> 
                    <div class="col-4">
                        <a href="/products/detail/<%= art.idProductos %> " class="linkbox">
                            <section>
                                <img src="/images/<%= art.imagenPrincipal %> ">
                                <h4><%= art.nombre %> </h4>
                                <div class="rating2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                </div> 
                                <p>$<%= toThousand(art.precio) %> </p> 
                            </section>
                        </a>
                    </div>
                    
    
        
                     <% }) %>
        </div>
    </div>  
         
</body>
<footer>
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer --> 
  </footer>
</html>