<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->

<body>
    <div class="contenedor-pequeno producto-unico">
        <div class="fila">
            <div class="col-2" id="izq">
                <img src="/images/<%=listpro2.imagenPrincipal%>" width="100%" id="imgproducto" >
            </div>
            <div class="col-2">
                <p>Home / <%= listpro2.nombre %> </p>
                <h1><%= listpro2.nombre %></h1>
                <p> <%= listpro2.breveDescripcion %></p>  
                <h4>$<%= toThousand(listpro2.precio)%></h4>

                <input type="number" value="1" min="1" max="100">
                <a href=# class="action-button">Añadir al carrito</a>
                <% if (locals.logueado) { %> 
                    <% if (locals.user.idCategoriaU == 1) { %> 
                    <div class="buttons-ED">
                            <form action="/products/delete/<%=listpro2.idProductos %>" method="POST" style="display: inline-flex">
                                <a href="/products/edit/<%=listpro2.idProductos %> " class="action-button edit">EDITAR PRODUCTO</a>
                                <button type="submit" class="action-button delete">ELIMINAR</button>
                            </form>
                    </div>
                    <% } %>
                <% } %>
            </div>

        </div>
    </div>
    <br>
    <br>
<div class="contenedor-pequeno">
    <div class="fila fila2">
        <h2 class="InfoProduct">INFORMACIÓN ADICIONAL</h2>
    </div>
    <br>
    <p class="InfoProduct"><%= listpro2.informacionAdicional%></p>
    <br>

</div>
<br>
<br>
<div class="contenedor-pequeno">
    <div id="noc">
        <div class="col-3">
            <h3>VALORACIONES</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
            <br>
            <br>
            <br>
            </div>
        <div class="col-3">
                <h3>RESEÑAS</h3>
                    <div class="resena">
                    <span>Positivas</span>
                    <span>Negativas</span>
                    <span>Recientes</span>
                    </div>
                </div>
        <div class="col-3">
                    <h3>PREGUNTAS Y RESPUESTAS</h3>
                        <div class="pregunta">
                        <input type="text" name="preguntas" id="preguntas" placeholder="Realizar pregunta"></input></div>
                            <div class="fila3">
                                <div class="col-20">
                                    <i class="fas fa-arrow-circle-up"></i>
                                    <i class="fas fa-arrow-circle-down"></i>
                                   

                                </div>
                                <div class="col-21">
                                    <div class="por">
                                        <p class="por">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquid exercitationem in adipisci debitis odio cum a commodi id, inventore facilis quasi libero dolore maiores sapiente animi aliquam, quis nam.</p>
                                    </div>   
                                </div>
                            </div>
        
                    </div>
    </div>
</div>

<div class="contenedor-pequeno">
    <div class="fila fila7">
        <h2>LO MÁS NUEVO</h2>
        <p>Ver más</p>
    </div>
</div>
<div class="contenedor-pequeno">
<div class="fila">
    <% let contador=0%>  
    <% listpro.forEach(art=> { %> 
        <% if(art.idCategoria==1) { %>
            <% if(contador<=3){%>
                <div class="col-4">
                    <a href="/products/detail/<%= art.idProductos %> " class="linkbox">
                        <section>
                            <img src="/images/<%= art.imagenPrincipal %> ">
                            <h4><%= art.nombre %> </h4>
                            <div class="rating2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            </div> 
                            <p>$<%= toThousand(art.precio) %> </p> 
                            <% contador = contador+1%>
                        </section>
                    </a>
                </div>
                <% }else{ %>
                    <% } %>
            <%}else{%>

                <% } %>
                 <% }) %>
</div>
</div>  
      
</body>
<footer>
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
</footer>
</html>










<!--------- Cambio de imagenes---------->

<script>
   var imgproducto= document.getElementById("imgproducto");
   var imgpequena= document.getElementsByClassName("imagen-chiquita");

   imgpequena[0].onclick=function(){
       imgproducto.src=imgpequena[0].src;
   }
   imgpequena[1].onclick=function(){
       imgproducto.src=imgpequena[1].src;
   }
   imgpequena[2].onclick=function(){
       imgproducto.src=imgpequena[2].src;
   }
   imgpequena[3].onclick=function(){
       imgproducto.src=imgpequena[3].src;
   }
</script>

