<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

 <!-- Header -->
 <%- include('partials/header') %>
 <!-- /Header -->

<!--Main-->
  <body>
    <section class="section-addProduct">
        <h1 class="title">Editar Producto</h1>
        <p class="banner-usuario">
          <em>Actualizar información de 
            <span class="actualizar_producto"><%=listpro3.nombre%></span> para 
            <span class="actualizar_producto"><%=listpro3.consola.nombre%></span></em></p>
        <div class="form-container addProduct">
          <form class="form" method="POST" action="/products/edit/<%=listpro3.idProductos%>?_method=PUT" enctype="multipart/form-data">
                <p>
                    <label class="label-1">
                        Nombre del producto:
                        <input type="text" name="nombre" value="<%=listpro3.nombre%>">
                    </label>
                </p>
                <p>
                    <label class="label-textarea">
                        Descripción del producto:
                        <textarea type="text" name="breveDescripcion"><%=listpro3.breveDescripcion%></textarea>
                    </label>
                </p>
                <p>
                    <label class="label-1">
                        <label class="label-number">
                            Precio Unitario: 
                            <input type="number" name="precio" value="<%=listpro3.precio%>">
                            Rating: 
                            <input type="number" name="rating" min='0' max="5" value="<%=listpro3.rating%>">
                        </label>
                    </label>
                </p>
                <p>
                    <label class="label-2">
                        Plataforma:
                        <label class="label-radio">
                          <% if(listpro3.idPlataforma==1){  %> 
                            <label class="select" for="PS">Playstation</label>
                            <input type="radio" name="plataforma" value="PS" checked>
                            <label class="select" for="Xbox">Xbox</label>
                            <input type="radio" name="plataforma" value="Xbox">
                            <label class="select" for="Nintendo">Nintendo</label>
                            <input type="radio" name="plataforma" value="Nintendo">
                            <% }else if (listpro3.idPlataforma==2) {  %> 
                            <label class="select" for="PS">Playstation</label>
                            <input type="radio" name="plataforma" value="PS">
                            <label class="select" for="Xbox">Xbox</label>
                            <input type="radio" name="plataforma" value="Xbox" checked>
                            <label class="select" for="Nintendo">Nintendo</label>
                            <input type="radio" name="plataforma" value="Nintendo">
                            <% }else if (listpro3.idPlataforma==3) { %> 
                            <label class="select" for="PS">Playstation</label>
                            <input type="radio" name="plataforma" value="PS">
                            <label class="select" for="Xbox">Xbox</label>
                            <input type="radio" name="plataforma" value="Xbox">
                            <label class="select" for="Nintendo">Nintendo</label>
                            <input type="radio" name="plataforma" value="Nintendo" checked>
                            <% }  %> 
                        </label>
                    </label>
                </p>
                <p>
                    <label class="label-2">
                        Consola:
                        <label class="label-radio">
                          <% if(listpro3.idConsola==1){ %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="PS5"  checked>
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="PS4"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="XboxOne">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="XboxSs">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="XboxSx">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="NSwitch">
                            <% }else if(listpro3.idConsola==2) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="PS5">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="PS4" checked> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="XboxOne">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="XboxSs">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="XboxSx">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="NSwitch">
                            <% }else if(listpro3.idConsola==3) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="PS5">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="PS4"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="XboxOne" checked>
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="XboxSs">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="XboxSx">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="NSwitch">
                            <% }else if(listpro3.idConsola==4) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="PS5">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="PS4"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="XboxOne">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="XboxSs" checked>
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="XboxSx">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="NSwitch">
                            <% }else if(listpro3.idConsola==5) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="PS5">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="PS4"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="XboxOne">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="XboxSs">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="XboxSx" checked>
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="NSwitch">
                            <% }else if(listpro3.idConsola==6) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="PS5">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="PS4"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="XboxOne">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="XboxSs">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="XboxSx">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="NSwitch" checked>
                            <% }  %> 
                        </label>
                    </label>
                </p>
                <p>
                    <label class="label-textarea">
                        Información Adicional:
                        <br>
                        <textarea name="informacionAdicional" placeholder="Si lo desea, escriba aquí la información adicional"><%= listpro3.informacionAdicional %></textarea>
                    </label>
                </p>
                <p>
                    <label class="label-select">
                        Categoría:
                        <% if(listpro3.idCategoria==1){ %> 
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="mas-nuevo" selected>Lo más nuevo</option>
                            <option value="mas-comprado">Lo más comprado</option>
                            <option value="mejores-ofertas">Mejores ofertas</option>
                            <option value="preventas">Preventas</option>
                        </select>
                        <% }else if(listpro3.idCategoria==2) {%>
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="mas-nuevo">Lo más nuevo</option>
                            <option value="mas-comprado" selected>Lo más comprado</option>
                            <option value="mejores-ofertas">Mejores ofertas</option>
                            <option value="preventas">Preventas</option>
                        </select>
                        <% }else if(listpro3.idCategoria==3) {%>
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="mas-nuevo">Lo más nuevo</option>
                            <option value="mas-comprado">Lo más comprado</option>
                            <option value="mejores-ofertas" selected>Mejores ofertas</option>
                            <option value="preventas">Preventas</option>
                        </select>
                        <% }else if(listpro3.idCategoria==4) {%>
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="mas-nuevo">Lo más nuevo</option>
                            <option value="mas-comprado">Lo más comprado</option>
                            <option value="mejores-ofertas">Mejores ofertas</option>
                            <option value="preventas">Preventas</option>
                        </select>
                        <% } %> 
                    </label>
                </p>
                <p>
                    <label class="label-file">
                        Imagen Principal  :
                        <input type="file" name="imagenPrincipal" id="fileInput"  accept="image/png, .jpeg, .jpg"> 
                    </label>
                </p>
                <p class="buttons">
                    <input class="action-button" type="submit" name="submit" value="Actualizar"/>
                 </p>
            </form>
        </div>
    </section>
</body>
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
</html>