<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

 <!-- Header -->
 <%- include('partials/header') %>
 <!-- /Header -->

<!--Main-->
  <body>
    <section class="section-addProduct">
        <h1 class="title">Editar Producto</h1>
        <p class="banner-usuario">
          <em>Actualizar información de 
            <span class="actualizar_producto"><%=listpro3.nombre%></span> para 
            <span class="actualizar_producto"><%=listpro3.consola.nombre%></span></em></p>
        <div class="form-container addProduct">
          <form class="editpform" method="POST" action="/products/edit/<%=listpro3.idProductos%>?_method=PUT" enctype="multipart/form-data">
                <p>
                    <label class="label-1">
                        Nombre del producto:
                        <input type="text" name="nombre" value="<%=listpro3.nombre%>" class='nombre'>
                    </label>
                </p>
                <% if (locals.errors && errors.nombre) { %>
                    <p class="msg-errores"><%= errors.nombre.msg %></p>
                <% } %>
                <p class='msg-errores' id='error1'></p>
                <p>
                    <label class="label-textarea">
                        Descripción del producto:
                        <textarea type="text" name="breveDescripcion" class='breveDescripcion'><%=listpro3.breveDescripcion%></textarea>
                    </label>
                </p>
                <% if (locals.errors && errors.breveDescripcion) { %>
                    <p class="msg-errores"><%= errors.breveDescripcion.msg %></p>
                <% } %>
                <p class='msg-errores' id='error2'></p>
                <p>
                    <label class="label-1">
                        <label class="label-number">
                            Precio Unitario: 
                            <input type="number" name="precio" value="<%=listpro3.precio%>" min='0' class='precio'>
                            Rating: 
                            <input type="number" name="rating" min='0' max="5" value="<%=listpro3.rating%>" class='rating'>
                        </label>
                    </label>
                </p>
                <% if (locals.errors && errors.precio) { %>
                    <p class="msg-errores"><%= errors.precio.msg %></p>
                <% } %> 
                <% if (locals.errors && errors.rating) { %>
                    <p class="msg-errores"><%= errors.rating.msg %></p>
                <% } %> 
                <p class='msg-errores' id='error3'></p>
                <p class='msg-errores' id='error4'></p>
                <p>
                    <label class="label-2">
                        Plataforma:
                        <label class="label-radio">
                          <% if(listpro3.idPlataforma==1){  %> 
                            <label class="select" for="PS">Playstation</label>
                            <input type="radio" name="plataforma" value="1" checked>
                            <label class="select" for="Xbox">Xbox</label>
                            <input type="radio" name="plataforma" value="2">
                            <label class="select" for="Nintendo">Nintendo</label>
                            <input type="radio" name="plataforma" value="3">
                            <% }else if (listpro3.idPlataforma==2) {  %> 
                            <label class="select" for="PS">Playstation</label>
                            <input type="radio" name="plataforma" value="1">
                            <label class="select" for="Xbox">Xbox</label>
                            <input type="radio" name="plataforma" value="2" checked>
                            <label class="select" for="Nintendo">Nintendo</label>
                            <input type="radio" name="plataforma" value="3">
                            <% }else if (listpro3.idPlataforma==3) { %> 
                            <label class="select" for="PS">Playstation</label>
                            <input type="radio" name="plataforma" value="1">
                            <label class="select" for="Xbox">Xbox</label>
                            <input type="radio" name="plataforma" value="2">
                            <label class="select" for="Nintendo">Nintendo</label>
                            <input type="radio" name="plataforma" value="3" checked>
                            <% }  %> 
                        </label>
                    </label>
                </p>
                <% if (locals.errors && errors.plataforma) { %>
                    <p class="msg-errores"><%= errors.plataforma.msg %></p>
                <% } %>  
                <p class='msg-errores' id='error5'></p>
                <p>
                    <label class="label-2">
                        Consola:
                        <label class="label-radio">
                          <% if(listpro3.idConsola==1){ %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="1"  checked>
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="2"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="3">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="4">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="5">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="6">
                            <% }else if(listpro3.idConsola==2) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="1">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="2" checked> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="3">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="4">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="5">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="6">
                            <% }else if(listpro3.idConsola==3) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="1">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="2"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="3" checked>
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="4">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="5">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="6">
                            <% }else if(listpro3.idConsola==4) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="1">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="2"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="3">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="4" checked>
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="5">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="6">
                            <% }else if(listpro3.idConsola==5) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="1">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="2"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="3">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="4">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="5" checked>
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="6">
                            <% }else if(listpro3.idConsola==6) { %> 
                            <label class="select" for="PS5">Playstation 5</label>
                            <input type="radio" name="consola" value="1">
                            <label class="select" for="PS4">Playstation 4</label>
                            <input type="radio" name="consola" value="2"> 
                            <label class="select" for="XboxOne">Xbox One</label>
                            <input type="radio" name="consola" value="3">
                            <label class="select" for="XboxSs">Xbox Series S</label>
                            <input type="radio" name="consola" value="4">
                            <label class="select" for="XboxSx">Xbox Series X</label>
                            <input type="radio" name="consola" value="5">
                            <label class="select" for="NSwitch">Nintendo Switch</label>
                            <input type="radio" name="consola" value="6" checked>
                            <% }  %> 
                        </label>
                    </label>
                </p>
                <% if (locals.errors && errors.consola) { %>
                    <p class="msg-errores"><%= errors.consola.msg %></p>
                <% } %>
                <p class='msg-errores' id='error6'></p>
                <p>
                    <label class="label-textarea">
                        Información Adicional:
                        <br>
                        <textarea name="informacionAdicional" placeholder="Si lo desea, escriba aquí la información adicional"><%= listpro3.informacionAdicional %></textarea>
                    </label>
                </p>
                <p>
                    <label class="label-select">
                        Categoría:
                        <% if(listpro3.idCategoria==1){ %> 
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="1" selected>Lo más nuevo</option>
                            <option value="2">Lo más comprado</option>
                            <option value="3">Mejores ofertas</option>
                            <option value="4">Preventas</option>
                        </select>
                        <% }else if(listpro3.idCategoria==2) {%>
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="1">Lo más nuevo</option>
                            <option value="2" selected>Lo más comprado</option>
                            <option value="3">Mejores ofertas</option>
                            <option value="4">Preventas</option>
                        </select>
                        <% }else if(listpro3.idCategoria==3) {%>
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="1">Lo más nuevo</option>
                            <option value="2">Lo más comprado</option>
                            <option value="3" selected>Mejores ofertas</option>
                            <option value="4">Preventas</option>
                        </select>
                        <% }else if(listpro3.idCategoria==4) {%>
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value="1">Lo más nuevo</option>
                            <option value="2">Lo más comprado</option>
                            <option value="3">Mejores ofertas</option>
                            <option value="4">Preventas</option>
                        </select>
                        <% } %> 
                    </label>
                </p>
                <% if (locals.errors && errors.categoria) { %>
                    <p class="msg-errores"><%= errors.categoria.msg %></p>
                <% } %>
                <p class='msg-errores' id='error7'></p>
                <p>
                    <label class="label-file">
                        Imagen Principal  :
                        <input type="file" name="imagenPrincipal" id="fileInput"  accept="image/png, image/.jpeg, image/.jpg, image/.gif"> 
                    </label>
                </p>
                <% if (locals.errors && errors.imagenPrincipal) { %>
                    <p class="msg-errores"><%= errors.imagenPrincipal.msg %></p>
                <% } %>
                <p class='msg-errores' id='error8'></p> 
                <p class="buttons">
                    <input class="action-button" type="submit" name="submit" value="Actualizar"/>
                 </p>
            </form>
        </div>
    </section>
</body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
  <script src="/javascripts/ValidacionEditProduct.js"></script>
</html>