<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Header -->
<%- include('partials/header') %>
<body>
    <section class="section-profile">
        <% if (locals.user.nombre === usersList2.nombre) { %>
        <h1 class="title">Bienvenido <%= locals.user.nombre %></h1>
        <% } else { %>
        <h1 class="title">Perfil de <%= usersList2.nombre %></h1>
        <% } %>
        <div class="imagen-perfil">
            <img src="/images/users/<%= usersList2.avatar %>" width="10%">
            <hr class="mini-divisor perfil">
        </div>
        <div class="form-container profile">
            <form class="form" method="POST" action="/profile" enctype="multipart/form-data">
                <% if (locals.errors && errors.nombre) { %>
                    <p class="msg-errores"><%= errors.nombre.msg %></p>
                <% } %>
                    <p>
                        <label class="label-1">
                            Nombre(s)
                            <input type="text" name="nombre" placeholder="Nombre(s)" value="<%= usersList2.nombre %>" disabled>
                        </label>
                    </p>
                    <% if (locals.errors && errors.apellidos) { %>
                        <p class="msg-errores"><%= errors.apellidos.msg %></p>
                    <% } %>
                    <p>
                        <label class="label-1">
                            Apellidos
                            <input type="text" name="apellidos" placeholder="Apellido paterno y materno" value="<%= usersList2.apellidos %>" disabled>
                        </label>
                    </p>
                    <% if (locals.errors && errors.email) { %>
                        <p class="msg-errores"><%= errors.email.msg %></p>
                    <% } %>
                    <p>
                        <label class="label-1">
                            Email
                            <input type="email" name="email" placeholder="Correo electronico" value="<%= usersList2.email %>" disabled>
                        </label>
                    </p>
                    <% if (locals.errors && errors.cumpleanios) { %>
                        <p class="msg-errores"><%= errors.cumpleanios.msg %></p>
                    <% } %>
                    <p>
                        <label class="label-date">
                            Fecha de nacimiento
                            <input type="date" name="cumpleanios" value="<%= usersList2.cumpleanios %>" disabled>
                        </label>
                    </p>
                    <p>
                        <label class="label-2">
                            Perfil de usuario: 
                            <% if(usersList2.idCategoriaU == 1){ %>
                            <label class="select" for="comprador">Administrador</label>
                            <input type="radio" id="vendedor" name="idCategoriaU" value='1' checked>
                            <% }else if(usersList2.idCategoriaU == 2) {%>
                            <label class="select" for="comprador">Comprador</label>
                            <input type="radio" id="comprador" name="categoriau" value='2' checked>
                            <% } %> 
                        </label>
                    </p>
                    <br>    
            </form>
            <% if(locals.user.idCategoriaU == 1){ %>
            <div class="buttons-ED" ">
                <form action="/delete/<%=usersList2.idUsuario %>" method="POST">
                    <a href="/edit/<%= usersList2.idUsuario %>" class="action-button edit">MODIFICAR INFORMACIÓN</a>
                    <button type="submit" class="action-button delete">ELIMINAR CUENTA</button>
                </form>
            </div>
            <% } %> 
        </div>
    </section>
</body>
<footer>
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer --> 
  </footer>
</html>