<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->


<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->
<body>
    <section class="section-register">
        <h1 class="title">Crear Cuenta</h1>
        <p class="banner-usuario">Registrate en DigitalHouseGames</p>
        <div class="form-container register">
            <form class="RegisterForm" id="RegisterForm" method="POST" action="/register" enctype="multipart/form-data">
                <!-- Image preview -->
                <div id="imagePreview" style="text-align: center;"></div>

                <p>
                    <label class="label-1">
                        Nombre(s)
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre(s)" value="<%= locals.old && old.nombre %>" >
                    </label>
                </p>
                <% if (locals.errors && errors.nombre) { %>
                    <p class="msg-errores"><%= errors.nombre.msg %></p>
                <% } %>
                
                <p>
                    <label class="label-1">
                        Apellidos
                        <input type="text" name="apellidos" placeholder="Apellido paterno y materno" id="apellidos" value="<%= locals.old && old.apellidos %>" >
                    </label>
                </p>
                <% if (locals.errors && errors.apellidos) { %>
                    <p class="msg-errores"><%= errors.apellidos.msg %></p>
                <% } %>
                
                <p>
                    <label class="label-1">
                        Email
                        <input type="email" name="email" placeholder="Correo electronico" id="email" value="<%= locals.old && old.email %>" >
                    </label>
                </p>
                <% if (locals.errors && errors.email) { %>
                    <p class="msg-errores"><%= errors.email.msg %></p>
                <% } %>
                
                <p>
                    <label class="label-1">
                        Contrase単a
                        <input type="password" name="password" placeholder="Contrase単a" id="password" value="<%= locals.old && old.password %>" >
                    </label>
                </p>
                <% if (locals.errors && errors.password) { %>
                    <p class="msg-errores"><%= errors.password.msg %></p>
                <% } %>
                

                <!-- <p>
                    <label class="label-1">
                        Confirmar Contrase単a
                        <input type='password' name='confirmPassword' placeholder="Confirmar contrase単a"  >
                    </label>
                </p>
                <% if (locals.errors && errors.confirmPassword) { %>
                    <p class="msg-errores"><%= errors.confirmPassword.msg %></p>
                <% } %> -->

                <p>
                    <label class="label-date">
                        Fecha de nacimiento
                        <input type="date" name="cumpleanios" value="<%= locals.old && old.cumpleanios %>" >
                    </label>
                </p>
                <% if (locals.errors && errors.cumpleanios) { %>
                    <p class="msg-errores"><%= errors.cumpleanios.msg %></p>
                <% } %>
                <p>
                    <label class="label-2">
                        Perfil de usuario: 
                        <label class="label-radio" required>
                            <label class="select" for="admin">Administrador</label>
                            <input type="radio" name="categoriau" value='1'>
                            <label class="select" for="comprador">Comprador</label>
                            <input type="radio" name="categoriau" value='2'>    
                        </label>
                    </label>
                </p>
                <p>
                    <label class="label-file">
                        Imagen de perfil:
                        <input type="file" name="avatar" id="avatar"  accept="image/png, image/.jpeg, image/.jpg, image/.gif">
                    </label>
                    
                </p>
                <% if (locals.errors && errors.avatar) { %>
                    <p class="msg-errores"><%= errors.avatar.msg %></p>
                <% } %>

                <p class="buttons">
                    <button type="submit"  class="action-button">Crear Cuenta</button>
                </p>
            </form>
            <br>
            <br>
        </div>
    </section>
    <!------------------------Footer---------------------------------> 
    <%- include('partials/footer') %>
    <!-- /footer --> 
    <script src="/javascripts/ValidacionRegister.js"></script>
</body>
</html>