<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->
<body>
   <section class="section-register">
      <h1 class="title">Crear Cuenta</h1>
      <p class="banner-usuario">Registrate en DigitalHouseGames</p>
      <!-- <% if(locals.errors) { %>
       <%   errors.forEach(error => { %>
            <p class="msg-errores"><%= error.msg %></p>
        <% }) %>
      <% } %> -->
      <div class="form-container register">
          <form class="form" method="POST" action="/register" enctype="multipart/form-data">
                <p>
                    <label class="label-1">
                        Nombre(s)
                        <input type="text" name="nombre" placeholder="Nombre(s)" value="<%= locals.old && old.nombre %>">
                    </label>
                </p>
                <p>
                    <label class="label-1">
                        Apellidos
                        <input type="text" name="apellidos" placeholder="Apellido paterno y materno">
                    </label>
                </p>
                <p>
                    <label class="label-1">
                        Email
                        <input type="email" name="email" placeholder="Correo electronico" >
                    </label>
                </p>
                <p>
                    <label class="label-1">
                        Contrase単a
                        <input type="password" name="password" placeholder="Contrase単a">
                    </label>
                </p>
                <p>
                    <label class="label-1">
                        Confirmar Contrase単a
                        <input type="password" name="confirm_password" placeholder="Confirmar contrase単a">
                    </label>
                </p>
                <p>
                    <label class="label-date">
                        Fecha de nacimiento
                        <input type="date" name="cumpleanios">
                    </label>
                </p>
                <p>
                    <label class="label-2">
                        Perfil de usuario: 
                        <label class="select" for="comprador">Vendedor</label>
                        <input type="radio" id="vendedor" name="tipo_usuario" value="vendedor" checked>
                        <label class="select" for="comprador">Comprador</label>
                        <input type="radio" id="comprador" name="tipo_usuario" value="comprador">
                    </label>
                </p>
                <p>
                    <label class="label-file">
                        Imagen de perfil:
                        <input type="file" name="avatar" accept="image/png, image/jpeg">
                    </label>
                </p>
              <p class="buttons">
                 <button type="submit" class="action-button">Crear Cuenta</button>
              </p>
          </form>
      </div>
  </section>
</body>

<!------------------------Footer---------------------------------> 
<%- include('partials/footer') %>
<!-- /footer --> 
</html>