<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Header -->
<%- include('partials/header') %>
<body>
    <div class="contenedor-pequeno">
        <div class="fila fila7">
            <h2>Productos de Xbox</h2>
            <p></p>
        </div>
    </div>
    <div class="contenedor-pequeno">
    <div class="fila">  
        <% listpro.forEach(art=> { %> 
            <% if(art.plataforma=="Xbox") {%>  
                <div class="col-4">
                    <a href="/products/detail/<%= art.id %> " class="linkbox">
                        <section>
                            <img src="/images/<%= art.imagenPrincipal %> ">
                            <h4><%= art.nombre %> </h4>
                            <div class="rating2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            </div> 
                            <p>$<%= toThousand(art.precio) %> </p> 
                        </section>
                    </a>
                </div>
                <% }else{ %>

                <% } %>
    
        
                     <% }) %>
    </div>
</div>  
         
</body>
<footer>
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer --> 
  </footer>
</html>